WEB_PORT=1111
ADMIN_EMAIL=some@email.com
ADMIN_USERNAME=someuser
ADMIN_PASSWORD=somepassword
POSTGRES_PORT=1112
PGADMIN_PORT=1113
PGADMIN_DEFAULT_EMAIL=some@email.com
PGADMIN_DEFAULT_PASSWORD=somepassword
POSTGRES_PASSWORD=somepassword